torch>=2.0.0
torchvision>=0.15.0
psutil
pandas
Pillow
opencv-python
tqdm
onnx
onnxscript
onnxruntime
torchmetrics
tensorflow
pycocotools
paho-mqtt
openvino
openvino-dev
kinara-runtime
ultralytics
optuna